<% if obj.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(obj.errors.count, "error") %> prohibited this <%= message %> from being saved:</h2>

    <ul>
      <% obj.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>