<div id="<%= dom_id post %>">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user.username %></td> 
      </tr>
    </tbody>
  </table>
</div>