<%= render @post %>

<% if user_signed_in? %>
  <% if current_user == @post.user || current_user.admin? %>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post) %> |
      <%= button_to "Destroy this post", @post, method: :delete %>
    </div>
  <% end %>
<% end %>
<%= link_to "Back to posts", posts_path %>

